@charset "UTF-8";

body {
    color: #063724;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 25px;
    background-image: url(paint.jpg);
}
aside {
    width: 150px;
    height: 600px;
    background-color: #008000;
    float: left;
}
	
header {
    width: 768px;
    height: 250px;
    background-color: #FFFFFF;
    background-image: url(1x/Asset%204.png);
    background-size: cover;
}
main {
    width: 618px;
    height: 600px;
    background-color: #377BD1;
    float: left;
}
footer {
    width: 768px;
    height: 50px;
    background-color: #F25F19;
}
